// Ref: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

// .element p {
//   @include vertical-align;
// }


%vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

// .element p {
//   @extend %vertical-align;
// }

// -----

// As a few people have pointed out, this method can cause elements to be blurry due to the element being placed on a “half pixel”. A solution for this is to set its parent element to preserve-3d. Like following:
//
// .parent-element {
//   -webkit-transform-style: preserve-3d;
// }
//
// .element {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
// }